@font-face {
  font-family: "Space Mono";
  src: url("../resources/fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Space Mono Bold";
  src: url("../resources/fonts/Space_Mono/SpaceMono-Bold.ttf");
}

html {
  font-size: 100%;
}

body {
  background-color: #ff7746;
  color: #0f356a;
  font-family: "Space Mono", Arial, sans-serif;
  font-size: 1.5rem;

  height: 100vh;
  overflow-x: hidden;
}

main {
  height: fit-content;
}

nav {
  background-color: #ff7746;
  overflow: hidden;
  height: 3.125rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.text-logo {
  font-family: "Space Mono Bold", Arial, sans-serif;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: -0.156rem;

  position: relative;
  bottom: 0;
  left: 0;
}

.text-logo:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

a {
  color: #0f356a;
}

svg a {
  text-decoration: none;
}

footer {
  background-color: #ff7746;
  text-align: center;
  padding: 1rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr) auto;
  grid-gap: 0.25rem;
}

.footer-grid > div {
  padding: 0.25rem;
  font-size: 1.5rem;
}

.footer-grid > div:nth-child(odd) {
  text-align: left;
}

.footer-grid > div:nth-child(even) {
  text-align: right;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: #0f356a;

  cursor: pointer;

  text-decoration: none;
}

.link {
  position: relative;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.link:hover {
  bottom: -0.125rem;
  right: -0.125rem;
}

.blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  border-color: #0f356a;
  border-top-width: 0.063rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 0.125rem;
}

.blog-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-info h1 {
  font-size: 3rem;
  font-family: "Space Mono Bold", Arial, sans-serif;

  padding: 1rem;
  padding-bottom: 0;

  position: relative;
  bottom: 0;
  left: 0;
}

.blog-info h1 a {
  text-decoration: none;
}

.blog-info h1:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}

.blog-number {
  font-size: 3rem;
  font-family: "Space Mono Bold", Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  border-color: #0f356a;
  border-left-style: solid;
  border-width: 0.125rem;

  padding: 1rem;
}

.blog-extra-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}
