.scroll-down {
  position: relative;
  top: 2px;
  transition: 0.2s;
}

.scroll-down:hover {
  top: 4px;
}

/* .bottom-cell {
    grid-column: 1 / span 2;
    text-align: center;
} */

#banner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  text-align: center;
}

#banner h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

#banner h2:first-of-type {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInSlide 1s ease-in-out 4.5s forwards;
}
#banner h2:nth-of-type(2) {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInSlide 1s ease-in-out 6.5s forwards;
}

#banner div {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInSlide 1s ease-in-out 8.5s forwards;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cursor {
  position: relative;
  bottom: -1px;
  display: inline-block;
  width: 5px;
  height: 45px;
  margin-left: 5px;
  background-color: #0f356a;
  animation: blink 1s infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#blog-posts {
  opacity: 0;
  transform: translateY(5px);
  animation: fadeInSlide 1s ease-in-out 8.5s forwards;
}
