@media (prefers-color-scheme: dark) {
  body {
    background-color: #09203f;
    color: #ff7746;
  }

  nav,
  footer {
    background-color: #09203f;
  }

  a {
    color: #ff7746;
  }
  .icon {
    fill: #ff7746;
  }
  .cursor {
    background-color: #ff7746;
  }

  .blog-post {
    border-color: #ff7746;
  }

  .blog-number {
    border-color: #ff7746;
  }
}

@media (max-width: 768px) {
  #nav-links {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr) auto;
  }
}
