main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main h1:first-child {
  font-size: 3rem;
  font-family: "Space Mono Bold", Arial, sans-serif;
  padding: 1rem;
  padding-bottom: 0;
  position: relative;
  bottom: 0;
  left: 0;

  text-align: center;
}

main h1:first-child:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}

#blog-posts {
  display: flex;
  flex-direction: column;
  padding-bottom: 0rem;
}

.blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-color: #0f356a;
  border-top-width: 0.063rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 0.125rem;
}

.blog-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-info h1 {
  font-size: 3rem;
  font-family: "Space Mono Bold", Arial, sans-serif;

  padding: 1rem;
  padding-bottom: 0;

  position: relative;
  bottom: 0;
  left: 0;
}

.blog-info h1 a {
  text-decoration: none;
}

.blog-info h1:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}

.blog-number {
  font-size: 3rem;
  font-family: "Space Mono Bold", Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  border-color: #0f356a;
  border-left-style: solid;
  border-width: 0.125rem;

  padding: 1rem;
}

.blog-extra-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}

#page-btns {
  display: flex;
  justify-content: space-between;
  display: none;
}

.pagination {
  all: unset;

  background-color: #ff7746;
  color: #0f356a;

  border-style: solid;
  border-top-style: none;
  border-width: 0.125rem;
  border-color: #0f356a;

  width: 100%;
  padding: 16px;

  text-align: center;
}

#prev-page {
  border-left-style: none;
  border-right-style: none;
}

#next-page {
  border-right-style: none;
}

.pagination:hover {
  cursor: pointer;
  background-color: #fa6f3c;
}

.pagination:active {
  background-color: #e65e2e;
}

.pagination:disabled {
  background-color: #fa6f3c;
  cursor: not-allowed;
}
