body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto; /* This will allow the main content to grow and shrink as needed */
}

nav,
footer {
  flex-shrink: 0; /* This will prevent nav and footer from shrinking */
}

main {
  padding: 1rem;
  /* height: max(100%, max-content); */

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 2rem;
}

#post-content {
  height: 100%;
}

#post-title {
  font-family: "Space Mono Bold", Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: -0.156rem;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#post-title h1:first-of-type {
  position: relative;
  bottom: 0;
  left: 0;
}

#post-title h1:first-of-type:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}
