main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main h1:first-child {
  font-size: 48px;
  font-family: "Space Mono Bold", Arial, sans-serif;
  padding: 16px;
  padding-bottom: 0px;
  position: relative;
  bottom: 0;
  left: 0;
}

main h1:first-child:hover {
  bottom: 2px;
  left: 2px;
}

#blog-posts {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.blog-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  /* padding: 16px; */
  border-color: #0f356a;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
}

.blog-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blog-info h1 {
  font-size: 48px;
  font-family: "Space Mono Bold", Arial, sans-serif;

  padding: 16px;
  padding-bottom: 0px;

  position: relative;
  bottom: 0;
  left: 0;
}

.blog-info h1 a {
  text-decoration: none;
}

.blog-info h1:hover {
  bottom: 2px;
  left: 2px;
}

.blog-number {
  font-size: 48px;
  font-family: "Space Mono Bold", Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  border-color: #0f356a;
  border-left-style: solid;
  border-width: 2px;

  padding: 16px;
}

.blog-extra-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 0px;
}
