main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main h1:first-child {
  font-size: 3rem;
  font-family: "Space Mono Bold", Arial, sans-serif;
  padding: 1rem;
  padding-bottom: 1rem;
  position: relative;
  bottom: 0;
  left: 0;

  text-align: center;
}

main h1:first-child:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}

#tag-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.tag {
  position: relative;
  bottom: 0;
  left: 0;

  cursor: pointer;
}

.tag:hover {
  bottom: 0.125rem;
  left: 0.125rem;
}

.selected {
  font-family: "Space Mono Bold", Arial, sans-serif;
}
